/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/src/Intrix/TemaBundle/Resources/public/css/*
/src/Intrix/TemaBundle/Resources/public/js/*
/src/Intrix/TemaBundle/Resources/public/images/
!/src/Intrix/TemaBundle/Resources/public/js/main.js